html {
    font-family: Hind;
    color: #002B39;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    margin: 0;
}

h4 {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    margin: 0;
}
h5{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}
a{
    color: #00b1ff;
    font-weight: bold;
}
p {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    margin: 0;
}

button {
    color: #fff;
    box-shadow: 0 9px 12px 0 rgba(153, 176, 190, 0.35);
    background-image: linear-gradient(to top, #007fff, #00b1ff -10%);
    border: 0;
    border-radius: 5px;
    padding: 15px 45px 11px 46px;
    display: block;
    margin: auto;
    cursor: pointer;
}
button:hover{
    color: blue;
    background: white;
}

body {
    margin: 0;
}

.segundoTitulo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
}

.segundaSeccion {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#logoVenn {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    padding-top: 2em;
}

#seccion1 {
    background-image: url("/img/Grupo 9213.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}

#tarjeta {
    padding-top: 18px;
    height: 280px;
    max-width: 700px;
    box-shadow: 0 25px 35px 0 rgba(26, 72, 100, 0.2);
    border: solid 1px #dfeaf0;
    background-image: linear-gradient(to bottom, #fff, #fff 76%, #f0faff);
    margin: 51px auto auto;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 50px 30px;
}

#tarjeta >img{
    width: 237px;
    height: 237px;
    display: inline;
    grid-column: 1;
    grid-row: 1 / -1;
}

#tarjeta > p{
    grid-row: 3;
    grid-column: 2 / -1;
}
#tarjeta >h3,#tarjeta >h5,.estrellas{
    display: inline;
}

#tarjeta > h5{
    grid-row: 2;
    grid-column: 2;
    margin: 0;
}

.estrellas{
    grid-row: 2;
    grid-column: 3;
    max-height: 20px;
}
.cuadricula{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin: auto;
    gap: 20px;
}

.tarjetaCaracteristica{
    text-align: center;
    justify-self: center;

    border-radius: 10px ;
    padding: 22px 5% !important;
    box-shadow: 0 20px 15px 0 rgb(26 72 100 / 10%) !important;
    border: solid 1px #c3d5e0 ;
  linear-gradient(to bottom, #fff, #fff 78%, #f0feff) ;
  width:150px ;
    cursor: pointer;
}
.tarjetaCaracteristica:hover{
    border: solid 1px #00b1ff;
}
.negritas{
    font-weight: bolder;
}


#ultimoBoton{
    margin-top: 50px;
}

#tarjetas {
    display: grid;
    grid-template-columns: 6fr 7fr 1fr 7fr 1fr 7fr 6fr;
    width: 100%;
    justify-content: center;
    grid-template-areas: ". tarjeta1 . tarjeta2 . tarjeta3 .";
}

#tarjeta1 {
    grid-area: tarjeta1;
}

#tarjeta2 {
    grid-area: tarjeta2;
    height: 100%;
}

#tarjeta3 {
    grid-area: tarjeta3;
    height: 100%;
}

.tarjetaProductos {
    display: grid;
    grid-template-rows: 6fr repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.tarjetaProductos > img {
    grid-row: 1;
}
.tarjetaProductos > h5{
    grid-row: 3;
}
.tarjetaProductos > p {
    grid-row: 5;
}
#tarjetas > .tarjetaProductos {
    box-shadow: 0 25px 35px 0 rgba(26, 72, 100, 0.2);
    border: solid 1px #dfeaf0;
    background-image: linear-gradient(to bottom, #fff, #fff 76%, #f0faff);
    height: 50vh;
}

.tarjetaUnidad {
    width: 90%;
    height: 90%;
}

#button2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

#button3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

#terceraSeccion {
    padding-top: 18px;
    height: 350px;
    max-width: 700px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr repeat(3, 2fr);
    grid-template-areas: "title title title title title"
                        "Cero1 . Cero2 . Cero3"
                        "Foto1 Linea1 Foto2 Linea2 Foto3"
                        "text1 . text2 . text3"
                        ". . . . .";
    margin: 51px auto auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#titulo3{grid-area: title;}
#numero1 {grid-area: Cero1;}
#numero2 {grid-area: Cero2;}
#numero3 {grid-area: Cero3;}
#circulo1 {grid-area: Foto1;cursor: pointer;position: relative}
#circulo2 {grid-area: Foto2;cursor: pointer}
#circulo3 {grid-area: Foto3;cursor: pointer}
#text1 {
    grid-area: text1;
}
#text2 {
    grid-area: text2;
}
#text3 {
    grid-area: text3;
}

#linea1 {
    grid-area: Linea1;
    width: 180%;
    height: 5px;
}
#linea2 {
    grid-area: Linea2;
    width: 180%;
    height: 5px;
}


#CuartaSeccion {
    display: grid;
    grid-template-rows: 74px 146px 544px 170px;
    grid-template-columns: auto;
    max-width: 100%;
    grid-template-areas: "."
                        "title4"
                        "body"
                        "buttonfinal";
}
#imgFondo {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 1023px;
}
#titulo4 {
    grid-area: title4;
}
.cuadricula {
    grid-area: body;
}
#ultimoBoton {
    grid-area: buttonfinal;
}

footer{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    height: 240px;
    background: linear-gradient(to top, #007aff, #1166fa -10%);
    grid-template-areas: ". footerPrincipal .";
}

#completo{
    grid-area: footerPrincipal;
    display: grid;
    grid-template-rows: 5fr 1fr 5fr;
    max-height: 230px;
}
#superior{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}
#redes{
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: end;
}
#redes > img{
    margin: 10px;
}

#lineaFooter > img{
    width: 100%;
}
#enlacesFooter >a{
    -webkit-font-smoothing: antialiased;
    line-height: 1em;
    padding-bottom: 10px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    color: white;
}
#enlacesFooter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    margin-left: 700px;
    margin-top: 40px;
    font-size: 15px;
}